.about-company {
  background-color: $basic-white;
  padding: 31px 0 29px;

  @media (min-width: $tablet-width) {
    padding: 51px 0 21px;
  }

  @media (min-width: $desktop-width) {
    padding: 67px 230px 35px 175px;
  }
}

.about-company__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: $basic-black;
  margin-bottom: 30px;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 40px;
  }
}

.about-company__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 635px;
  }

  @media (min-width: $desktop-width) {
    width: 650px;
  }
}

.about-company__item {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  padding-top: 53px;
  padding-bottom: 30px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 300px;
    font-size: 20px;
    line-height: 22px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 22px;
    padding: 56px 0;
  }
}

.about-company__item:nth-child(2n) {
  order: 1;

  @media (min-width: $tablet-width) {
    order: 0;
  }
}

.about-company__item::before {
  content: "";
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

.about-company__item_ecology {
  &::before {
    background-image: url("/img/icon-feature-flower.svg");
    width: 33px;
    height: 38px;
    left: 8px;
  }
}

.about-company__item_scandinav-style {
  &::before {
    background-image: url("/img/icon-feature-money.svg");
    width: 47px;
    height: 27px;
    left: 0;
  }
}

.about-company__item_like-photo {
  &::before {
    background-image: url("/img/icon-feature-heart.svg");
    width: 34px;
    height: 27px;
    top: 4px;
    left: 7px;
  }
}

.about-company__item_love-affection {
  &::before {
    background-image: url("/img/icon-feature-ball.svg");
    width: 35px;
    height: 34px;
    left: 3px;

    @media (min-width: $desktop-width) {
      top: 3px;
    }
  }
}

.about-company__item_support-maker {
  &::before {
    background-image: url("/img/icon-feature-rocket.svg");
    width: 55px;
    height: 23px;
    top: 2px;
    left: -5px;

    @media (min-width: $desktop-width) {
      top: 4px;
    }
  }
}

.about-company__item_gift-wrap {
  &::before {
    background-image: url("/img/icon-feature-gift.svg");
    width: 33px;
    height: 32px;
    top: 1px;
    left: 3px;
  }
}
