.add-text {
  display: block;
  padding-top: 5px;

  @media (min-width: $tablet-width) {
    padding-top: 48px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 52px;
  }
}

.add-text__textarea {
  border: 2px solid $basic-black;
  padding: 15px;
  font-size: 17px;
  line-height: 18px;
  resize: none;
  font-family: inherit;
  width: 100%;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    display: block;
    font-size: 19px;
    margin-bottom: 0;
  }

  &:hover {
    border-color: $basic-blue-light;
  }

  &:active {
    border-color: $basic-blue-light;
    color: $basic-dark;
  }
}
