.add-text__textarea {
  border: 2px solid $basic-black;
  padding: 17px;
  font-size: 17px;
  line-height: 18px;
  resize: none;
  font-family: inherit;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 500px;
    display: block;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
    margin-left: 0;
  }
}
