.button {
  border: 2px solid $basic-dark;
  color: $basic-dark;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  font-family: inherit;
  display: block;
  padding: 17px;
  background-color: $basic-white;

  &:hover {
    background-color: $basic-dark;
    color: $basic-white;
  }

  &:active {
    background-color: $basic-dark;
    color: rgba($basic-white, 0.3);
  }
}
