.button {
  border: 2px solid $basic-dark;
  color: $basic-dark;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  font-family: inherit;
  display: block;
  padding: 18px;
  background-color: $basic-white;
}
