.cart {
  color: $basic-black;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    text-align: center;
  }

  &:hover svg {
    fill: $basic-blue;
    opacity: 1;
  }

  &:active svg {
    fill: $basic-blue;
    opacity: 0.3;
  }
}

.cart__text {
  margin-left: 25px;
  font-size: 17px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin-left: 31px;
  }
}

.cart__icon {
  fill: $basic-black;
  opacity: 0.2;
}
