.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.catalog__item {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

.catalog__item:last-child {
  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

