.catalog {
  padding: 30px 0;

  @media (min-width: $tablet-width) {
    padding: 70px 0 53px;
  }
}

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  row-gap: 30px;

  @media (min-width: $tablet-width) {
    row-gap: 50px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 52px;
    row-gap: 60px;
  }
}
