.checkbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;

  &:hover {
    .checkbox__text::before {
      border: 2px solid $basic-blue-light;
    }
  }

  &:active {
    .checkbox__text::before {
      border: 2px solid rgba($basic-dark, 0.3);
    }
  }
}

.checkbox__input {
  margin: 0;
  min-width: 38px;
  min-height: 38px;
  opacity: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 52px;
    height: 52px;
  }
}

.checkbox__text {
  padding-left: 24px;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
  }

  &::before {
    content: "";
    position: absolute;
    border: 2px solid $basic-dark;
    height: 38px;
    width: 38px;
    top: 0;
    left: 0;

    @media (min-width: $tablet-width) {
      width: 52px;
      height: 52px;
    }
  }
}

.checkbox__input:checked + .checkbox__text {
  &::after {
    content: "";
    position: absolute;
    background-image: url("/img/icon-tick.svg");
    background-repeat: no-repeat;
    width: 22px;
    height: 20px;
    top: 9px;
    left: 8px;
    background-size: 22px 20px;

    @media (min-width: $tablet-width) {
      background-size: 35px 23px;
      top: 15px;
      left: 8px;
      width: 35px;
      height: 23px;
    }
  }
}
