.contacts {
  background-color: $basic-white;
  padding: 40px 0;
}

.contacts__title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: 30px;
  font-size: 18px;
  line-height: 30px;
}

.contacts__list {
  margin: 0;
  padding-left: 30px;
  list-style: none;
}

.contacts__item {
  font-size: 15px;
  line-height: 30px;
  color: $basic-dark;
  margin-bottom: 40px;
}

.contacts__email {
  color: $basic-dark;
  border-bottom: 1px solid $basic-blue-light;
}

.contacts__text {
  margin: 0;
}

.contacts__map-frame {
  width: 100%;
  margin-bottom: 40px;
}
