.copyright {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.copyright__text {
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  margin: 0 30px 0 0;
}
