.form ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__fieldset {
  border: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding-top: 63px;
  }
}

.form__list {
  display: grid;
  grid-template-rows: auto;
  gap: 24px 0;
}

.form__fieldset:nth-child(2n) {
  background-color: $basic-grey;
  padding-top: 48px;
}

.form__heading {
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: $basic-blue;
  margin-bottom: 24px;
  margin-top: 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-right: 0;
    margin-top: 20px;
  }
}

.form__label {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 19px;
    line-height: 18px;
  }
}

.form__input {
  background-color: transparent;
  border-bottom: 2px solid $basic-black;
  border-top: none;
  border-right: none;
  border-left: none;
  height: 52px;
  font-size: 17px;
  line-height: 18px;
  font-family: inherit;
  width: 260px;
  margin-bottom: 22px;
  padding: 18px;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
  }

  &:hover {
    border-bottom-color: $basic-blue-light;
  }

  &:active {
    border-bottom-color: $basic-blue-light;
    color: $basic-dark;
  }
}

.form__list_checkbox {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 210px 210px;
    gap: 25px 53px;
  }

  @media (min-width: $desktop-width) {
    width: 740px;
    grid-template-columns: 210px 210px 210px;
  }
}

.form__list_checkbox li {
  width: 210px;
}

.form__item {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.form__item_checkbox {
  margin-bottom: 45px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.form__icon {
  opacity: 0.2;
  fill: $basic-dark;
  position: absolute;
  right: 17px;
  top: 11px;
}

.form__inner {
  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 50px auto;
    column-gap: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
    grid-template-columns: 60px 700px;
    column-gap: 55px;
    width: 930px;
  }
}

.form__list_contacts {
  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
  }
}
