.form {
  margin-bottom: 20px;
}

.form ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

.form__list {
  margin-bottom: 24px;
}

.form__heading {
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: $basic-blue;
  margin-bottom: 24px;
  margin-top: 0;
}

.form__label {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.form__input {
  background-color: transparent;
  border-bottom: 2px solid $basic-black;
  border-top: none;
  border-right: none;
  border-left: none;
  height: 52px;
  font-size: 17px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  width: 100%;
  margin-bottom: 22px;
}
