.form ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__fieldset {
  border: none;
  padding: 0;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 62px;
    padding-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 60px;
    padding-bottom: 0;
  }
}

.form__fieldset:nth-child(2n) {
  @media (min-width: $tablet-width) {
    background-color: $basic-grey;
    padding-top: 49px;
    padding-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}

.form__fieldset:nth-child(3) {
  padding-top: 5px;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}

.form__list {
  display: grid;
  grid-template-rows: auto;
  gap: 10px 0;

  @media (min-width: $tablet-width) {
    gap: 24px 0;
  }
}

.form__heading {
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: $basic-blue;
  margin-bottom: 27px;
  margin-top: 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-top: 18px;
  }
}

.form__label {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 19px;
    margin-right: 25px;
  }
}

.form__input {
  background-color: transparent;
  border-bottom: 2px solid $basic-black;
  border-top: none;
  border-right: none;
  border-left: none;
  height: 52px;
  font-size: 17px;
  line-height: 18px;
  font-family: inherit;
  width: 260px;

  @media (min-width: $tablet-width) {
    padding: 18px;
    flex-grow: 1;
    margin-bottom: 0;
    font-size: 19px;
  }

  &:hover {
    border-bottom-color: $basic-blue-light;
  }

  &:active {
    border-bottom-color: $basic-blue-light;
    color: $basic-dark;
  }
}

.form__list_checkbox {
  gap: 22px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 240px 240px;
    gap: 22px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 240px 240px 240px;
  }
}

.form__item {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.form__icon {
  opacity: 0.2;
  fill: $basic-dark;
  position: absolute;
  top: 34px;
  right: 5px;

  @media (min-width: $tablet-width) {
    right: 6px;
    top: 11px;
  }
}

.form__inner {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 50px auto;
    column-gap: 118px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
    grid-template-columns: 60px 700px;
    column-gap: 55px;
    width: 930px;
  }
}

.form__list_contacts {
  gap: 34px 0;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    gap: 24px 0;
  }
}

.form__item_contacts {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 75px auto;
    gap: 0 92px;
    align-items: start;
  }

  @media (min-width: $desktop-width) {
    gap: 0 40px;
  }
}

.form__input_contacts {
  padding: 18px 0 20px;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 18px 18px 20px;
  }
}

.form__list_info {
  gap: 19px 0;

  @media (min-width: $tablet-width) {
    gap: 24px 0;
  }
}
