.form ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__fieldset {
  border: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 500px;
    margin-left: auto;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    min-width: 700px;
    margin-left: 0;
  }
}

.form__list {
  margin-bottom: 24px;
}

.form__heading {
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: $basic-blue;
  margin-bottom: 24px;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 0;
  }
}

.form__label {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 19px;
    line-height: 18px;
    margin-right: 25px;
  }
}

.form__input {
  background-color: transparent;
  border-bottom: 2px solid $basic-black;
  border-top: none;
  border-right: none;
  border-left: none;
  height: 52px;
  font-size: 17px;
  line-height: 18px;
  font-family: inherit;
  width: 260px;
  margin-bottom: 22px;
  padding: 18px;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
  }
}

.form__list_checkbox {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form__list_checkbox li {
  width: 210px;
}

.form__item {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.form__item_checkbox {
  margin-bottom: 45px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }
}
