.info-menu {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-self: end;
  }

  @media (min-width: $desktop-width) {
    border-top: 1px solid $basic-grey;
    justify-content: space-between;
    width: 100%;
    align-items: baseline;
  }
}

.info-menu__item {
  @media (min-width: $desktop-width) {
    margin-right: 62px;
  }
}

.info-menu__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
  }
}

.info-menu__text {
  margin: 0;
  font-size: 15px;
  line-height: 24px;
}

.info-menu__link {
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  color: $basic-black;
}
