.main-nav {
  @media (min-width: $tablet-width) {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 82px 265px;
    grid-template-areas:
      "logo search cart"
      "menu menu info-menu";
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 375px 1fr 83px 265px;
    grid-template-areas:
      "menu logo search cart"
      "info-menu info-menu info-menu info-menu";
  }
}

.main-nav__toggle {
  position: absolute;
  top: 18px;
  right: 21px;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  background-image: url("/img/icon-menu-open.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__toggle_closed {
  background-image: url("/img/icon-menu-close.svg");
}

.main-nav__logo {
  display: block;
  position: relative;
  text-align: center;
  align-self: center;
  padding: 20px;
  border-bottom: 1px solid $basic-grey;

  @media (min-width: $tablet-width) {
    grid-area: logo;
    text-align: left;
    padding: 0;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.main-nav__search {
  padding: 27px 30px 27px 30px;
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 36px 31px 34px 33px;
    border-right: 1px solid $basic-grey;
    border-left: 1px solid $basic-grey;
    grid-area: search;
    width: auto;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 35px 32px 34px 30px;
  }
}

.main-nav__cart {
  font-weight: bold;
  padding: 27px 30px 27px 30px;
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 33px 0 31px 30px;
    grid-area: cart;
    width: auto;
    margin: 0;
  }
}

.main-nav__link-wrapper {
  border-bottom: 1px solid $basic-grey;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.main-nav__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    grid-area: menu;
  }
}

.main-nav__menu {
  grid-area: info-menu;
}
