.main-nav {
  @media (min-width: $tablet-width) {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 82px 265px;
    grid-template-areas:
      "logo search cart"
      "menu menu info-menu";
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 375px 1fr 83px 265px;
    grid-template-areas:
      "menu logo search cart"
      "info-menu info-menu info-menu info-menu";
  }
}

.main-nav__container {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 668px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 30px;
  right: 30px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__logo {
  display: block;
  position: relative;
  text-align: center;
  align-self: center;
  padding: 22px;
  border-bottom: 1px solid $basic-grey;

  @media (min-width: $tablet-width) {
    grid-area: logo;
    text-align: left;
    padding: 0;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.main-nav__search {
  padding: 30px;
  border-bottom: 1px solid $basic-grey;

  @media (min-width: $tablet-width) {
    padding: 36px 31px 34px 33px;
    border-bottom: none;
    border-right: 1px solid $basic-grey;
    border-left: 1px solid $basic-grey;
    grid-area: search;
  }

  @media (min-width: $desktop-width) {
    padding: 36px 33px 35px 32px;
  }
}

.main-nav__cart {
  font-weight: bold;
  padding: 30px;
  border-bottom: 1px solid $basic-grey;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding: 33px 0 33px 30px;
    grid-area: cart;
  }
}

.main-nav__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    grid-area: menu;
  }
}

.main-nav__menu {
  grid-area: info-menu;
}
