.modal-cart {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  background-color: rgba($basic-white, 0.9);
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    padding: 30px;
  }
}

.modal-cart__content {
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  padding: 30px 25px 45px;
  z-index: 999;
  background-color: $basic-white;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 566px;
    padding: 40px 101px 46px;
  }
}

.modal-cart__title {
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  width: 160px;
  margin-top: 0;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    width: 380px;
    line-height: 57px;
    font-size: 30px;
    margin-bottom: 10px;
  }
}

.modal-cart__text {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 30px;
  color: $basic-dark;
  width: 100%;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 21px;
  }
}

.modal-cart__checkbox {
  opacity: 0;
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modal-cart__label {
  display: inline-block;
  width: 82px;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  position: relative;
  text-align: center;
  align-self: center;
  padding: 16px 0;
  border: 2px solid rgba($basic-dark, 0.1);

  @media (min-width: $tablet-width) {
    width: 110px;
  }

  &:hover {
    cursor: pointer;
    border: 2px solid rgba($basic-dark, 0.3);
  }
}

.modal-cart__button {
  background: $blue-icon;
  border: 1px solid $blue-icon;
  width: 260px;
  color: $basic-white;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 350px;
  }
}

.modal-cart__list {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal-cart__checkbox:checked + .modal-cart__size {
  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: 83px;
    height: 106%;
    border: 2px solid $blue-icon;

    @media (min-width: $tablet-width) {
      width: 110px;
      height: 107%;
    }
  }
}

.modal-cart_invisible {
  display: none;
}
