.order {
  background-color: $basic-white;
  padding-top: 18px;
  padding-bottom: 53px;

  @media (min-width: $tablet-width) {
    padding-top: 57px;
    padding-bottom: 50px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
  }
}

.order__text {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 29px;
  font-size: 13px;
  line-height: 24px;
  color: $basic-dark;

  @media (min-width: $tablet-width) {
    padding-bottom: 10px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
    padding-top: 55px;
  }
}

.order__text-help {
  margin-top: 0;
  margin-bottom: 30px;
  color: $basic-dark;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 17px;
    line-height: 30px;
  }
}

.order__button {
  width: 260px;

  @media (min-width: $tablet-width) {
    width: 230px;
    order: -1;
  }
}

.order__footer {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
  }
}
