.order {
  background-color: $basic-white;
  padding: 30px;
}

.order__text {
  margin-top: 0;
  font-size: 13px;
  line-height: 24px;
  color: $basic-dark;
}

.order__text-help {
  margin-top: 0;
  margin-bottom: 30px;
  color: $basic-dark;
  font-size: 14px;
  line-height: 16px;
}

.order__button {
  width: 100%;
}
