.order {
  background-color: $basic-white;
  margin-bottom: 55px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    padding-left: 175px;
  }
}

.order__text {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 13px;
  line-height: 24px;
  color: $basic-dark;

  @media (min-width: $tablet-width) {
    margin-top: 55px;
    width: 630px;
    margin-bottom: 80px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 705px;
  }
}

.order__text-help {
  margin-top: 0;
  margin-bottom: 30px;
  color: $basic-dark;
  font-size: 14px;
  line-height: 16px;
}

.order__button {
  width: 260px;

  @media (min-width: $tablet-width) {
    width: 230px;
  }
}

.order__inner {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
  }
}
