.page-main {
  overflow: hidden;
}

.page-main__title {
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  padding: 73px 0;
  margin: 0;
  text-align: center;
  background-color: $basic-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    padding: 57px 0 84px;
    position: relative;

    &::after {
      @media (min-width: $tablet-width) {
        content: "";
        background-image: url("/img/bg-zigzag-fill.svg");
        height: 22px;
        width: 100%;
        bottom: 0;
        left: 0;
        background-repeat: repeat-x;
        background-size: 100%;
        position: absolute;
      }
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    padding: 57px 0 102px;

    &::after {
      background-size: auto 35px;
      background-position-x: 50%;
    }
  }
}
