.process-video {
  background-color: $basic-white;
  border: 1px solid $basic-grey;
  margin-bottom: 58px;

  @media (min-width: $tablet-width) {
    margin-bottom: 62px;
    display: grid;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 682px 260px;
    margin-bottom: 102px;
    gap: 0 50px;
  }

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.process-video__title {
  margin: 0;
  padding: 20px 30px 27px 90px;
  font-size: 17px;
  line-height: 24px;
  position: relative;

  &::after {
    content: "";
    background-image: url("/img/icon-video.svg");
    background-repeat: no-repeat;
    width: 33px;
    height: 32px;
    position: absolute;
    top: 29px;
    left: 33px;
  }

  @media (min-width: $tablet-width) {
    padding: 0 20px 25px 105px;
    font-size: 20px;

    &::after {
      top: -7px;
      left: 41px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 26px;
    padding: 96px 0 0 28px;

    &::after {
      top: 42px;
      left: 28px;
    }
  }
}

.process-video__text {
  font-size: 13px;
  line-height: 24px;
  color: $basic-dark;
  padding-right: 27px;
  padding-left: 34px;
  margin-top: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 40px;
    padding-left: 39px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 29px;
    padding-right: 0;
    margin-bottom: 55px;
  }
}

.process-video__button {
  margin: 0 34px 33px 34px;

  @media (min-width: $tablet-width) {
    margin: 0 42px 46px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 58px auto;
    width: 230px;
  }
}

.process-video__wrapper {
  width: 100%;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    order: -1;
    margin-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1/4;
    margin-bottom: 0;
  }
}

.process-video__img {
  display: block;

  @media (min-width: $tablet-width) {
    width: 668px;
    height: 455px;
  }

  @media (min-width: $desktop-width) {
    width: 683px;
    height: 455px;
  }
}

.process-video__link {
  position: relative;
  display: block;

  &::before {
    content: "";
    background-image: url("/img/icon-play.svg");
    width: 101px;
    height: 77px;
    position: absolute;
    top: 37px;
    left: 80px;

    @media (min-width: $tablet-width) {
      top: 189px;
      left: 283px;
    }

    @media (min-width: $desktop-width) {
      top: 190px;
      left: 292px;
    }
  }
}
