.product-week {
  background-color: $basic-white;
  padding: 30px 30px 35px 30px;

  @media (min-width: $tablet-width) {
    padding: 40px 50px 52px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content 1fr min-content;
    gap: 0 42px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 470px auto;
    padding: 69px 0 75px 50px;
    gap: 0 58px;
  }
}

.product-week__name {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: $basic-black;
  order: -1;
  text-transform: none;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    order: 0;
    font-size: 53px;
    line-height: 57px;
    margin-left: 50px;
  }
}

.product-week__title {
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-blue;
  margin: 0;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  grid-column: 1/-1;
  grid-row: 1;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 17px;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    align-items: center;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    justify-content: left;
    z-index: 1;
    margin-left: 55px;
  }
}

.product-week__info {
  font-size: 15px;
  line-height: 24px;
  color: $basic-dark;
  margin-bottom: 28px;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
    margin-bottom: 50px;
    width: 295px;
  }
}

.product-week__table-parameters {
  font-size: 15px;
  line-height: 20px;
  color: $basic-dark;
  margin-bottom: 28px;
  width: 260px;

  @media (min-width: $tablet-width) {
    margin-bottom: 43px;
    width: 291px;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
  }
}

.product-week__row {
  text-align: left;
  box-shadow: inset 0 -1px 0 0 $basic-grey;

  td {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.product-week__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $basic-dark;
  margin: 0 auto 25px;
  text-align: center;

  @media (min-width: $desktop-width) {
    margin-right: 80px;
    margin-left: auto;
    margin-bottom: 35px;
  }
}

.product-week__br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.product-week__photo img {
  display: block;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    width: 333px;
    height: 404px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 525px;
    height: 636px;
  }
}

.product-week__photo {
  @media (min-width: $tablet-width) {
    grid-column: 2;
    grid-row: 2/6;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1/6;
  }
}

.product-week__button {
  @media (min-width: $desktop-width) {
    margin-left: auto;
    width: 292px;
  }
}
