.product {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.product__title {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $basic-black;
  margin-top: 0;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    max-width: 240px;
    font-size: 20px;
    line-height: 24px;
  }
}

.product__parameters {
  font-size: 13px;
  line-height: 30px;
  color: $basic-dark;
  margin-top: 0;
  margin-bottom: 40px;

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

.product__price {
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  margin: 0;
}

.product__info {
  border: 1px solid $basic-grey;
  padding: 28px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 1;

  @media (min-width: $tablet-width) {
    padding: 30px 32px 30px 35px;
    flex-grow: 1;
  }

  @media (min-width: $desktop-width) {
    padding: 27px 32px 32px 28px;
  }
}

.product__img {
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    width: 335px;
    height: 335px;
  }

  @media (min-width: $desktop-width) {
    width: 316px;
    height: 462px;
  }
}

.product__link img {
  display: block;
}

.product__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: auto;
}
