.product-week {
  background-color: $basic-white;
  padding: 32px 0 41px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 40px 0 74px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content 1fr min-content;
    gap: 0 42px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 467px auto;
    padding: 54px 0 98px;
    gap: 0 57px;
  }

  &::after {
    content: "";
    background-image: url("/img/bg-zigzag-line.svg");
    height: 6px;
    background-size: 320px;
    background-repeat: repeat-x;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    left: 50%;
    right: 0;
    width: 100vw;

    @media (min-width: $tablet-width) {
      height: 20px;
      background-size: 772px;
    }

    @media (min-width: $desktop-width) {
      height: 23px;
      width: 1052px;
      background-size: 1050px;
    }
  }
}

.product-week__name {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: $basic-black;
  order: -1;
  text-transform: none;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    order: 0;
    font-size: 53px;
    line-height: 57px;
    margin-left: 56px;
    margin-top: 6px;
  }
}

.product-week__title {
  font-size: 17px;
  line-height: 25px;
  text-transform: uppercase;
  color: $basic-blue;
  margin: 0;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  grid-column: 1/-1;
  grid-row: 1;

  @media (min-width: $tablet-width) {
    line-height: 17px;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    align-items: center;
    margin-bottom: 40px;
    padding-right: 26px;
  }

  @media (min-width: $desktop-width) {
    justify-content: left;
    z-index: 1;
    margin-left: 47px;
    padding-top: 66px;
    margin-bottom: 36px;
  }
}

.product-week__info {
  font-size: 15px;
  line-height: 24px;
  color: $basic-dark;
  margin-bottom: 21px;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
    margin-bottom: 55px;
    width: 292px;
  }
}

.product-week__table-parameters {
  font-size: 15px;
  line-height: 20px;
  color: $basic-dark;
  margin-bottom: 26px;
  width: 260px;
  align-self: baseline;

  @media (min-width: $tablet-width) {
    margin-bottom: 43px;
    width: 291px;
  }

  @media (min-width: $desktop-width) {
    width: 295px;
    margin-left: auto;
  }
}

.product-week__row {
  text-align: left;
  box-shadow: inset 0 -1px 0 0 $basic-grey;

  td {
    padding-top: 4px;
    padding-bottom: 15px;
    min-width: 95px;
    display: inline-block;

    @media (min-width: $desktop-width) {
      min-width: 98px;
    }
  }
}

.product-week__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $basic-dark;
  margin: 0 auto 22px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin: 0 auto 29px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 73px;
    margin-left: auto;
    margin-bottom: 34px;
  }
}

.product-week__br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.product-week__photo img {
  display: block;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    width: 333px;
    height: 404px;
    margin-bottom: 0;
    margin-top: 10px;
  }

  @media (min-width: $desktop-width) {
    width: 525px;
    height: 636px;
  }
}

.product-week__photo {
  @media (min-width: $tablet-width) {
    grid-column: 2;
    grid-row: 2/6;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1/6;
  }
}

.product-week__button {
  @media (min-width: $desktop-width) {
    margin-left: auto;
    width: 292px;
    padding: 15px;
  }
}
