.product-week {
  background-color: $basic-white;
  padding-top: 30px;
  padding-bottom: 35px;
}

.product-week__name {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: $basic-black;
}

.product-week__title {
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-blue;
  margin: 0;
}

.product-week__info {
  font-size: 15px;
  line-height: 24px;
  color: $basic-dark;
  margin-bottom: 28px;
}

.product-week__table-parameters {
  font-size: 15px;
  line-height: 20px;
  color: $basic-dark;
  margin-bottom: 28px;
}

.product-week__row {
  text-align: left;

  td {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.product-week__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $basic-dark;
  margin: 25px auto;
}
