.product {
  margin-bottom: 30px;
}

.product__title {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $basic-black;
}

.product__parameters {
  font-size: 13px;
  line-height: 30px;
  color: $basic-dark;
}

.product__price {
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
}

.product__info {
  border: 1px solid $basic-grey;
  padding: 28px;
}

.product__img {
  background-color: $basic-grey;
}
