.product {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.product__title {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $basic-black;
  margin-top: 0;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    max-width: 240px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 5px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.product__parameters {
  font-size: 13px;
  line-height: 30px;
  color: $basic-dark;
  margin-top: 0;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 38px;
  }
}

.product__price {
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.product__info {
  border: 1px solid #ececec;
  padding: 26px 26px 24px 27px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 1;

  @media (min-width: $tablet-width) {
    padding: 25px 32px 27px 31px;
    flex-grow: 1;
  }

  @media (min-width: $desktop-width) {
    padding: 26px 31px 24px 26px;
  }

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.product__img {
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    width: 335px;
    height: 335px;
  }

  @media (min-width: $desktop-width) {
    width: 316px;
    height: 462px;
  }
}

.product__link img {
  display: block;
}

.product__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: auto;
}

.product__button-cart {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.product__icon-cart {
  fill: #000000;
  opacity: 0.2;

  &:hover {
    fill: $blue-icon;
    opacity: 1;
  }

  &:active {
    fill: $blue-icon;
    opacity: 0.3;
  }
}
