.radio {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0;
  padding-top: 2px;

  &:hover {
    .radio__text::before {
      border: 2px solid $basic-blue-light;
    }
  }

  &:active {
    .radio__text::before {
      border: 2px solid rgba($basic-dark, 0.3);
    }
  }
}

.radio:last-child {
  padding-bottom: 0;
}

.radio__input {
  margin: 0;
  min-width: 42px;
  min-height: 42px;
  opacity: 0;

  @media (min-width: $tablet-width) {
    width: 52px;
    height: 52px;
  }
}

.radio__text {
  padding-left: 18px;

  &::before {
    content: "";
    position: absolute;
    border: 2px solid $basic-dark;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    left: 1px;
    top: 4px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 25px;

    &::before {
      width: 50px;
      height: 50px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 28px;
  }
}

.radio__input:checked + .radio__text {
  &::after {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    background-color: #63d1bb;
    border-radius: 50%;
    left: 12px;
    top: 16px;

    @media (min-width: $tablet-width) {
      left: 17px;
      top: 20px;
      height: 18px;
      width: 18px;
    }
  }
}
