.reviews {
  background-color: $basic-white;
  padding: 30px 0;

  @media (min-width: $tablet-width) {
    padding: 83px 50px 50px 50px;
    background-image: url("/img/review@1x.jpg");
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    padding: 80px 50px 85px 225px;
    background-position-x: 50px;
  }
}

.reviews__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
    font-size: 43px;
    line-height: 50px;
    order: -2;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reviews__text {
  margin-top: 0;
  margin-bottom: 40px;
  color: $basic-dark;
  font-size: 15px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.reviews__author {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
  }
}

.reviews__author_contact {
  font-size: 17px;
  line-height: 30px;
  color: $basic-dark;
  margin-top: 0;
  margin-bottom: 30px;
}

.reviews__button-toggle {
  margin-bottom: 40px;
}

.reviews__button {
  @media (min-width: $tablet-width) {
    order: -1;
    padding: 16px 30px;
  }
}

.reviews__container {
  width: 260px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    margin: 0 auto;
  }
}
