.reviews {
  background-color: $basic-white;
  padding: 30px 30px 45px 30px;
}

.reviews__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 20px;
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reviews__text {
  margin-top: 0;
  margin-bottom: 40px;
  color: $basic-dark;
  font-size: 15px;
  line-height: 30px;
}

.reviews__author {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 15px;
}

.reviews__author_contact {
  font-size: 17px;
  line-height: 30px;
  color: $basic-dark;
  margin-top: 0;
  margin-bottom: 30px;
}

.reviews__button-toggle {
  margin-bottom: 40px;
}
