.reviews {
  background-color: $basic-white;
  padding-bottom: 50px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 80px 51px 106px 50px;
    background-image: url("/img/review@1x.jpg");
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    padding: 80px 50px 156px 225px;
    background-position-x: 50px;
  }

  &::after {
    content: "";
    background-image: url("/img/bg-zigzag-line.svg");
    height: 6px;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    left: 50%;
    right: 0;
    width: 100vw;

    @media (min-width: $tablet-width) {
      height: 20px;
    }

    @media (min-width: $desktop-width) {
      height: 23px;
      width: 1052px;
    }
  }
}

.reviews__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin-bottom: 42px;
    font-size: 43px;
    line-height: 50px;
    order: -2;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 33px;
  }
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reviews__text {
  margin-top: 0;
  margin-bottom: 37px;
  color: $basic-dark;
  font-size: 15px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 46px;
  }
}

.reviews__author {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
  }
}

.reviews__author_contact {
  font-size: 17px;
  line-height: 30px;
  color: $basic-dark;
  margin-top: 0;
  margin-bottom: 33px;
}

.reviews__button {
  @media (min-width: $tablet-width) {
    order: -1;
    padding: 15px 38px;
  }
}

.reviews__container {
  width: 260px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1150px;
    margin: 0 auto;
  }
}

.reviews__button-toggle {
  border: 1px solid $basic-grey;
  margin-bottom: 37px;
  width: 260px;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 101px;
    right: 49px;
    width: 175px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    bottom: 152px;
  }
}

.reviews__button-toggle button {
  background-color: transparent;
  border: none;
  width: 50%;
  height: 50px;
  padding: 0;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__button-back {
  background-image: url("/img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  position: relative;

  &::after {
    content: "";
    border-right: 1px solid $basic-grey;
    height: 52px;
    top: -1px;
    right: 0;
    position: absolute;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.reviews__button-forward {
  background-image: url("/img/icon-right-arrow.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}
