.site-list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border-bottom: 1px solid $basic-grey;
  }
}

.site-list__link {
  font-weight: bold;
  color: $basic-black;
  font-size: 17px;
  line-height: 24px;
  display: block;
}

.site-list__item {
  padding: 28px 0 28px 76px;

  @media (min-width: $desktop-width) {
    padding: 35px 15px 35px 50px;
  }
}

.site-list__item:nth-child(2) {
  @media (min-width: $desktop-width) {
    width: 55%;
    padding-left: 35px;
  }
}

.site-list__item_search {
  @media (min-width: $desktop-width) {
    padding: 36px 33px 35px 32px;
    border-right: 1px solid $basic-grey;
    border-left: 1px solid $basic-grey;
  }
}

.site-list__item_catalog {
  @media (min-width: $desktop-width) {
    padding-right: 30px;
    border-right: 1px solid $basic-grey;
  }
}

.site-list__item_basket {
  @media (min-width: $desktop-width) {
    padding-left: 75px;
  }
}
