.site-list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.site-list__link {
  font-weight: bold;
  color: $basic-black;
  font-size: 17px;
  line-height: 24px;
}

