.site-list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    padding-left: 50px;
  }
}

.site-list__link {
  font-weight: bold;
  color: $basic-black;
  font-size: 17px;
  line-height: 24px;
  display: block;
}

.site-list__item {
  padding: 28px 0 28px 76px;

  @media (min-width: $tablet-width) {
    padding: 25px 35px 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 35px 15px 35px 50px;
  }
}
