.social {
  margin: 0 auto 30px;

  @media (min-width: $tablet-width) {
    margin: 4px auto 0 121px;
  }

  @media (min-width: $desktop-width) {
    margin: 4px auto 0 312px;
  }
}

.social__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__item {
  margin-right: 40px;
}

.social__item:nth-child(3n) {
  margin-right: 0;
}

.social__icon {
  fill: $basic-black;
}

.social__link svg {
  &:hover {
    fill: $blue-hover;
  }

  &:active {
    opacity: 0.3;
  }
}
