.social {
  margin: 0 auto;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $grey-dark;

  @media (min-width: $tablet-width) {
    border: none;
    margin: 0 auto;
  }
}

.social__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  min-width: 160px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: $basic-black;

  &:hover {
    color: $blue-state;
  }

  &:active svg {
    opacity: 0.3;
  }
}

