
$basic-black: #000000;
$basic-light-black: #010000;
$basic-white: #ffffff;
$basic-dark: #444444;
$basic-blue: #63d1bb;
$basic-blue-dark: #56c3b2;
$basic-blue-light: #62d1ba;
$basic-grey: #ececec;
$basic-dark-grey: #f1f1f1;
$basic-grey-light: #fafafa;

$blue-state: #46c1ae;
$blue-light-state: #59d5bc;
$blue-icon: #63d1bb;
$grey-dark: #e5e5e5;

$tablet-width: 768px;
$desktop-width: 1150px;
