
$basic-black: #000000;
$basic-light-black: #010000;
$basic-white: #ffffff;
$basic-dark: #444444;
$basic-blue: #63d1bb;
$basic-blue-dark: #56c3b2;
$basic-blue-light: #62d1ba;
$basic-grey: #ececec;
$basic-dark-grey: #f1f1f1;
